* {
    margin: 0;
    padding: 0;
    
}



header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 2rem 1rem 2rem 1rem;
}

#welcome {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 2rem 1rem 2rem 1rem; 
    background-color:aquamarine
    
}

#intro {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 98%;
    max-height: 500px;
    background-color: aqua;
    margin: 2rem 1rem 2rem 1rem;
}

    #welcomeImage {
       object-fit: contain;
       width: 30%; 
    }

/* flexbox for both roll counters & all roll dice buttons */
#allRollPrompt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 1rem 2rem 1rem;
    width: 98%;
}


#userRollPrompt, #oreoRollPrompt {
    margin: 2rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
}

#oreoRollCountWhiteText {
    color:  white;
}

#userRollCountWhiteText{
    color: white;
}

/* flexbox to hold both dice boxes */
#bothDiceBoxes {
    display: flex;
    flex-direction: row;
    margin: 2rem 1rem 2rem 1rem;
    width: 98%;
}

/* User and Oreos Dice box grids */
#userdbox, #oreodbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin: 2rem 1rem 2rem 1rem;
    width: 48vw;
}

.ubox, .obox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* style for user dice */
.userd {
    border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    background-color: #46a365;
    border: 3px solid #6ac687;
    height: 130px;
    width: 140px;
    font-size: 7rem;
    text-align: center;
    color: rgb(240, 242, 255);
    font-family: 'Times New Roman', Times, serif;
   
}

/* style for oreos dice */
.oreod {
    background-image: url(/images/oreo-dice-background.png);
    height: 130px;
    width: 140px;
    border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    font-size: 6.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Kranky", serif;
}




/* Style for user dice buttons */
.userButt {

}



#commsBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 98%;
    max-height: 500px;
    background-color: aqua;
    margin: 2rem 1rem 2rem 1rem;
}   

#userCounterImage, #oreoCounterImage {
    object-fit: contain;
    width: 30%; 
}


/* Modal */
.modal {
   display: none; 
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0, 255, 255, 0.674);
}

.modalContent {
    background-color: chocolate;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 80%;
    height: 60%;
}

/* close button */
.close {
    color: #6ac687;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}